---
layout: default
title: Projects
---
      <!-- Work page begins -->
      <div id="home">
        <h1 style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;">Projects — Prof. Dr. Jochen Huber</h1>
        {% for project in site.data.projects %}
        <div class="four columns">
          <div class="project">
            <div class="projectThumbnail">
              <a href="{{ project.url }}" target="_blank">
                <img src="{{ project.image }}" alt="{{ project.name }}" class="thumbnailImage" />
              </a>
            </div>
            <div class="projectInfo">
              <h4>{{ project.name }}</h4>
              <div class="projectNav"></div>
              <p>
                {{ project.description }}{% if project.award_html %}<br />{{ project.award_html }}{% endif %}
              </p>
              <ul>
                <li><strong>Year:</strong> {{ project.year_start }}{% if project.year_end %} &mdash; {{ project.year_end }}{% endif %}</li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Work page ends -->
